.add-a-recipe {
    display: inline-block;
    width: 54rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 1rem;
    padding: 2rem;
    box-sizing: border-box;
    color: #933;
    font-size: 15pt;
}
.add-a-recipe img {
    margin: 20px 0 0 0;
    padding: 0;
    max-width: 400px;
    border: 2px solid #933;
    display: inline-block;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.app {
    text-align: center;
}

.add-a-recipe input {
    margin: 0px;
    padding: 10px;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: floralwhite;
}

.add-a-recipe input[type=file] {
    width: auto;
}

.add-a-recipe p {
    margin: 20px 0 5px 0;
    padding: 0;
}

.add-a-recipe button {
    border: none;
    background-color: #933;
    color: floralwhite;
    border-radius: 10px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}


.goButton {
    border: none;
    background-color: #933;
    color: floralwhite;
    margin: 50px 0 0 0;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
