.add-a-recipe {
    display: inline-block;
    text-align: left;
    width: 54rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 1rem;
    padding: 2rem;
    box-sizing: border-box;
    color: #933;
    font-size: 15pt;
}
.add-a-recipe img {
    max-width: 300px;
    border: 5px solid #933;
    display: inline-block;
    text-align: left;
}
.app {
    text-align: center;
}