/* CSS for the Log In Page */
/* Author: Luke Potasiewicz, Devon Havers */
.login {
    box-shadow: 0 0 10px rgba(50, 0, 0, 0.6);
    margin: 50px auto auto;
    padding: 10px 10px 30px;
    width: 100%;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    max-width: 350px;
    background: linear-gradient(0deg, rgba(255, 250, 240, .8) 3%, rgba(255, 250, 240, .3) 50%),
    url("loginBanner.png") no-repeat center;
    background-size: cover;
}

.login-banner {
    width: calc(100% + 20px);
    margin: -10px 0 15px -10px;
    height: 150px;
}

.login h2 {
    text-shadow: rgba(50, 0, 0, 0.7) 0 0 5px;
    position: relative;
    top: 70px;
    padding-left: 30px;
    border-bottom: solid 5px floralwhite;
    margin: 0;
    text-align: left;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: floralwhite;
    font-size: 55px;
}

.login input {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: floralwhite;
}

.submit {
    border: none;
    background-color: #933;
    color: floralwhite;
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.login pre {
    color: red;
}