.recipe {
    text-align: left;
}

.recipe img {
    max-width: 30%;
    width: 100%;
    margin: 1em;
    margin-top: -5vw;
    border: none;
}

.recipe .img-container {
    display: inline-block;
    width: 50%;
    height: 30rem;
    overflow: hidden;
}

.recipe-title-area {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.recipe-details {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}