.recipe {
    text-align: left;
    color: #933;
}

.recipe p{
    margin-left: 0.5em;
}
.recipe h2 {
    font-size: 20pt;
    font-weight: bold;
}

.recipe-info h4 {
    font-size: 16pt;
    margin-left: 1em;
}
.recipe-info img {
    max-width: 40%;
    width: 100%;
    margin: 5em 1em 1em;
    border: solid;

}

.recipe .img-container {
    display: inline-block;
    width: 50%;
    height: 30rem;
    overflow: hidden;
}

.recipe-title-area {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.recipe-details {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}