/* CSS for Recipe Page */
/* Author(s): Luke Potasiewicz, Sydney Bertrand */


.recipe {
    text-align: left;
    color: #933;
}

/* Cook Time Value */
.cook-time {
    margin-left: 40px;
    padding: 10px;
    background-color: #933;
    color: white;
    text-align: center;
    font-size: 20pt;
    border-radius: 25px;
    box-shadow: 0 0 10px #933;

}

/* Ingredient Values */
.ingredient {
    padding: 10px;
    background-color: #933;
    color: white;
    text-align: center;
    font-size: 20pt;
    border-radius: 25px;
    box-shadow: 0 0 10px #933;

}

/* Instruction Values */
.step {
    padding: 10px;
    background-color: #933;
    color: white;
    text-align: center;
    font-size: 20pt;
    border-radius: 25px;
    box-shadow: 0 0 10px #933;
}

/* Author Value */
.author {
    font-size: 20pt;
    margin-left: 3em;
    font-style: italic;


}

.recipe h2 {
    font-size: 40pt;
    font-weight: bold;
    margin-left: 3em;
}

.recipe-info h4 {
    font-size: 20pt;
    margin-left: 2em;
}

/* Recipe Image */
.recipe-info img {
    max-width: 75%;
    border: none;
    margin: 100px auto auto;
    display: block;
    border-radius: 25px;
    box-shadow: 0 0 10px #522;
}

.related-recipes h4 {
    font-size: 20pt;
    margin-left: 3em;
}

.recipe .img-container {
    text-align: center;
    display: inline-block;
    width: 50%;
}

.recipe-title-area {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.recipe-details {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}