/* CSS for Top Bar */
/* Author: Luke Potasiewicz */

.nav .top-bar button{
    font-size: 14pt;
    color: darkcyan;
}
.top-bar img {
    max-height: 30px;
}

.top-bar {
    display: inline-block;
    background-color: #933;
    height: 0;
}
.top-bar h2 {
    display: inline-block;
    margin: 8px;
    color: white;
    font-size: 27px;
}
.top-bar input {
    position: absolute;
    top: 90px;
    right: 0;
    height: 30px;
    border: none;
    margin: 10px;
    vertical-align: top;
    border-bottom: solid floralwhite 3px;
    background: rgba(0,0,0,0.3);
    color: floralwhite;
    padding: 5px 10px;
    font-size: 26px;
}
.top-bar input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: floralwhite;
    opacity: 1; /* Firefox */
}

.top-bar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: floralwhite;
}

.top-bar input::-ms-input-placeholder { /* Microsoft Edge */
    color: floralwhite;
}
.top-bar button {
    color: white;
    height: 46px;
    width: 46px;
    border: none;
    padding: 10px;
    background: transparent;
    vertical-align: top;
    transition: background-color 0.2s ease;
}
.top-bar button:hover, .nav button:hover {
    background-color: #711;
}
.nav {
    display: inline-block;
    background-color: #933;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
}
.nav button{
    color: floralwhite;
    font-size: 21px;
    border: none;
    padding: 10px;
    background: transparent;
    vertical-align: top;
    font-family: "Helvetica Neue";
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.2s ease;
}
.nav h2 {
    color: floralwhite;
    margin: 9px 0 8px 0;
}
/*this exists to push content down past the nav, as it is positioned fixed*/
.app {
    padding-top: 59px;
    height: calc(100vh - 59px);
}
.banner {
    background: url("homeBanner.jpg") no-repeat center;
    background-size: cover;
    height: 200px;
    border-bottom: #933 solid 5px;
}